 .user {
     p {
       margin: 0;
     }
     .icon {
       display: inline-block;
       width: 100px;
       vertical-align: top;
       img {
         max-width: 100%;
         height: auto;
       }
     }
     .content {
       display: inline-block;
       margin-left: 10px;
       width: 500px;
       vertical-align: top;
       word-wrap: break-word;
     }
 }

  .user_tweet {
    .per {
      border-radius: 5px;
      padding: 10px;
      margin-top: 20px;

      background-color: #DADADA;
      &.mine {
        background-color: #C1EFFF;
      }

      p {
        margin: 0;
      }
      .icon {
        display: inline-block;
        width: 70px;
        vertical-align: top;
        img {
          max-width: 100%;
          height: auto;
        }
      }
      .content {
        display: inline-block;
        margin-left: 10px;
        width: 500px;
        vertical-align: top;
        word-wrap: break-word;
      }
    }
  }